* {
    margin: 0;
    padding: 0;

}

h1 {
    text-align: center;
    padding-top: 25px;
    

}

.grid1 {
    margin-top: 50px;
    padding: 15px;
    margin-right: 50px;
    margin-left: 50px;

    
}
body {
    
}

.col-centered {
    float: none;
    margin: 0 auto;

}